body {

    background: url("../images/background_main_photo.jpg") no-repeat fixed center center;
    background-color: rgba(74, 81, 89, 0.5) !important;
    background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
@font-face {
    font-family: "Roboto Lt";
    src: url("../fonts/Roboto Light.ttf");
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/GOTHIC.TTF")
}

@font-face {
    font-family: "Roboto M";
    src: url("../fonts/Roboto Medium.ttf")
}
@font-face {
    font-family: "HelveticaNeueCyr Lt";
    src: url("../fonts/HelveticaNeueCyr Light.otf");
}
.img-overlay {

    margin:0;
    top:0;
    left:0;
    width: 100%;
   height: 100%;
}
.logo{
    padding: 5%;
    text-align: center;
}
.col {
    background-color: white;
}

.large-text {
    font: 36pt Century Gothic;
    width: 100%;
    color: white;
}

.vertical-center {
    display: flex;
    align-items: center;
    font: 11pt Roboto Lt;
}


.vertical-center-margin {
    margin-top: 5px;
    margin-right: -10px;

}

.header-text {
    font: 16pt Roboto Lt;
    text-align: center;
}
.header-text-login{
    margin-top: 35px;
    font: 16pt Roboto Lt;
    text-align: center;
}
.header2-text-login{
    margin-top: 15px;
    font: 10pt HelveticaNeueCyr Lt;
    text-align: center;
}
a{
    color: #76b6e9;
}

.image-icon {
    max-width: 65%;
    height: auto;
    width: auto;

}

.image-icon-mail {
    max-width: 70%;
    height: auto;
    width: auto;
}
.image-icon-password{
    max-width: 50%;
    height: auto;
    width: auto;
}

.form-control-feedback {
    top: 5px;
    left: 30px;
    bottom: 5px;
}

.form-control {
    padding-left: 45px;
    margin: 8px;
    font: 11pt Roboto Lt;
}

.checkbox {
    margin-left: 10px;
}
.checkbox-text{
    margin-left: 35px;
    margin-top: -20px;
}
.link-margin{
    margin-left: 20px;
}
.btn-orange {
    background-color: #f26036;
    color: white;
    font: 10pt Roboto M;
    border-radius: 40px;
    margin: 5px;
    box-shadow: 3px 3px 7px 0 rgba(215, 100, 71, 0.49);
}

.btn-orange:hover {
    color: white;
}

.hr-text-center span {
    background: #fff;
    padding: 0 10px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
    color: #999999;
    margin-bottom: 15px;
    font: 8pt Roboto M;
    margin-left: 12px;

}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #cdcdcd;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.btn-max-width {
    margin-top: 5px;
    width: 100%;
    color: #999999;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.btn-max-width img {
    float: left;
    height: 20px;

}

.social-networks {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: -1px;
    font: 14pt Roboto Lt;
}

#login-row {
    margin: 0 auto;
}

#left-logo {
    background-color: rgba(255, 255, 255, 0.3);
}
.checkbox{
    margin-left: -10px;
    font: 9pt Roboto Lt;
}
.checkbox label{
    margin-right: 10px;
}