body {
    background:rgba(49, 57, 65, 0.19) url("../images/background_main_photo.jpg") no-repeat center center fixed ;
    background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-overlay {

    margin:0;
    top:0;
    left:0;
    /*//padding-bottom: ;*/
    width: 100%;
    /*background: rgba(49, 57, 65, 0.19);*/
}
.logo{
    padding: 5%;
    text-align: center;

}