body {

    background: url("../images/background_main_photo.jpg") no-repeat fixed center center;
    background-color: rgba(74, 81, 89, 0.5) !important;
    background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.img-overlay {

    margin:0;
    top:0;
    left:0;
    width: 100%;
   height: 100%;
}
.logo{
    padding: 5%;
    text-align: center;
}